.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  font-weight: 600;
  padding: 16px 32px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  /* color: var(--color-brand-dark); */
  background-color: transparent;
}

.button:disabled {
  color: gray;
  background-color: lightgray;
  border-color: currentColor;
  cursor: not-allowed;
}
