.chef-card {
  display: flex;
  gap: 30px;

  &__photo {
    width: 240.99989318847656;
    height: 390;
    /* angle: 0 deg; */
    opacity: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark);
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
