.contacts {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 62px;
    line-height: 1.3;
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__btn {
    display: block;
    margin: 0 auto 16px;

    &:hover {
      color: var(--color-primary-dark);
    }
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }
}
