.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 0.4s, visibility 0.4s;

  display: flex;
  justify-content: center;
  align-items: center;

  &.is-hidden {
    /* display: none; але якщо так- то цю властивість анімувати не можна*/
    opacity: 0;
    visibility: hidden; /*так елемент вилучається з потоку*/
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
  position: relative;

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    margin-bottom: 8px;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 72px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__btn {
    display: block;
    margin: 0 auto 24px;

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}
