@import './utils/fonts';

@import './utils/variables';

@import './base';

@import './utils/utils';

@import './utils/accented';

@import './components/buttons';

@import './components/links';

@import './components/chef-card';

@import './components/carousel-btn';

@import './components/form-terms';

@import './components/input';

@import './layout/section';

@import './layout/container';

@import './layout/header';

@import './layout/hero';

@import './layout/advantages';

@import './layout/traditions';

@import './layout/chefs';

@import './layout/formats';

@import './layout/format-card';

@import './layout/contacts';

@import './layout/footer';

@import './layout/modal';
